.petwed {
  animation: stroke 4s linear infinite;
}
@keyframes stroke {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-25%);
  }
}

.kot1 {
  animation: perehod 4s steps(1) infinite;
}
@keyframes perehod {
  0% {
    background-position: 0 0;
  }
  12.5% {
    background-position: -64vw 0;
  }
  25% {
    background-position: -128vw 0;
  }
  37.5% {
    background-position: -192vw 0;
  }
  50% {
    background-position: -256vw 0;
  }
  62.5% {
    background-position: -320vw 0;
  }
  75% {
    background-position: -384vw 0;
  }
  87.5% {
    background-position: -448vw 0;
  }
}

.pas1 {
  animation: pas1 4s linear infinite;
}
@keyframes pas1 {
  0% {
    transform: rotate(33deg);
  }
  50% {
    transform: rotate(-33deg);
  }
  100% {
    transform: rotate(33deg);
  }
}

.pas2 {
  animation: pas2 5s linear infinite;
}
@keyframes pas2 {
  0% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

.pas3 {
  animation: pas3 4s linear infinite;
}
@keyframes pas3 {
  0% {
    transform: rotate(27deg);
  }
  50% {
    transform: rotate(-27deg);
  }
  100% {
    transform: rotate(27deg);
  }
}

/* 2экран */

.flag1 {
  animation: flag1 4s linear infinite;
}
@keyframes flag1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-47%);
  }
}

.flag2 {
  animation: flag2 4s linear infinite;
}
@keyframes flag2 {
  0% {
    transform: translateX(-47%);
  }
  100% {
    transform: translateX(0%);
  }
}

.tort1 {
  animation: tort1 7s linear infinite;
}

@keyframes tort1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* экран 3 */

.lapki {
  animation: lapki 2s linear infinite;
}
@keyframes lapki {
  0% {
    transform: translateX(-39%);
  }
  100% {
    transform: translateX(0%);
  }
}

.nekotik:hover {
  opacity: 1;
}

.kotik:hover {
  opacity: 0;
}

/* экран 4 */
.serd {
  animation: float 2s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.5vw);
  }
  100% {
    transform: translateY(0);
  }
}

.cost {
  animation: cost 5s linear infinite;
}
@keyframes cost {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.5vw);
  }
  100% {
    transform: translateY(0);
  }
}

/* экран 5 */
.kot32:hover {
  opacity: 1;
}

.nadp {
  animation: nadp 4s linear infinite;
}
@keyframes nadp {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-51%);
  }
}

.paspas {
  animation: smena 1s steps(1) infinite;
}

@keyframes smena {
  0% {
    content: url("../images/paspas1.svg");
  }
  25% {
    content: url("../images/paspas3.svg");
  }
  50% {
    content: url("../images/paspas2.svg");
  }
  100% {
    content: url("../images/paspas4.svg");
  }
}

/* конец */

.happy img {
  animation: happy 4s linear infinite;
}

@keyframes happy {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}

.text span {
  transition: all 0.4s ease;
}
.text span:hover {
  transform: rotate3d(0, 1, 0, 70deg);
  opacity: 0.2;
  transition: all 0.1s ease;
}

.left span {
  transition: all 0.4s ease;
}

.left span:hover {
  transform: scale(1.6);
  opacity: 0.2;
  transition: all 0.4s ease;
}
