* {
  box-sizing: border-box;
}
body {
  width: 100vw;
}

/* экран1 */

.stroke {
  background-color: #ffc9e4;
  height: 7vw;
  width: 100vw;
  overflow: hidden;
}
.petwed {
  height: 5vw;
  width: 100vw;
  padding-top: 1vw;
}

.first {
  background-color: #001aff;
  padding: 2vw 0 4vw 4vw;
  width: 100vw;
  position: relative;
}

.kot1 {
  height: 46vw;
  width: 64vw;
  background-image: url(../images/pere.svg);
  background-size: 512vw 46vw;
  background-repeat: no-repeat;
}
.first img {
  position: absolute;
}
.pas1 {
  width: 27vw;
  top: 0vw;
  left: 57vw;
}
.pas2 {
  width: 18vw;
  top: 13vw;
  left: 79vw;
}

.pas3 {
  width: 27vw;
  top: 27vw;
  left: 70vw;
}

/* экран2  */

.second {
  width: 100vw;
  display: flex;
}

.flag {
  background-color: #ff50c7;
  height: 16.6vw;
  width: 60.6vw;
  overflow: hidden;
}

.tort {
  background-color: #001aff;
  height: 29.4vw;
  width: 60.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  height: 46vw;
  width: 39.4vw;
  background-image: url(../images/text1.svg);
  background-size: cover;
  font-family: BalooBhai;
  color: #ff50c7;
  font-size: 6.5vw;
}

.flag1 {
  height: 8vw;
  width: 120vw;
}

.flag2 {
  height: 8vw;
  width: 120vw;
}

.tort1 {
  height: 23vw;
  width: 23vw;
}

.And {
  padding-top: 8vw;
  padding-left: 2.5vw;
}

.happily {
  padding-top: 11.5vw;
  padding-left: 2.5vw;
}

/* экран 3 */

.tri {
  width: 100vw;
  display: flex;
}

.kot2 {
  background-color: #ffc9e4;
  height: 23vw;
  width: 39.4vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lap {
  background-color: #001aff;
  width: 39.4vw;
  height: 10.6vw;
  overflow: hidden;
}

.lapki {
  width: 90vw;
}

.left {
  height: 33.6vw;
  width: 60.6vw;
  background-image: url(../images/text2.svg);
  background-size: cover;
  font-family: BalooBhai;
  color: #ff50c7;
  font-size: 6.5vw;
}

.lived {
  padding-top: 10vw;
  padding-left: 29.5vw;
}

.wedding {
  padding-top: 6vw;
  padding-left: 29.5vw;
}

.kotik {
  height: 25vw;
  width: 25vw;
  opacity: 1;
}

.nekotik {
  height: 25vw;
  width: 25vw;
  position: absolute;
  opacity: 0;
}

/* экран 4 */

.oblaka {
  background-image: url(../images/oblaka.svg);
  background-size: cover;
  height: 54vw;
  width: 100vw;
}

.serd {
  margin-left: 5vw;
  width: 79vw;
  height: 36vw;
  position: absolute;
}

.cost {
  margin-top: 3vw;
  margin-left: 9vw;
  width: 95vw;
  height: 47vw;
}

/* экран 5 */

.pred {
  background-color: #001aff;
  width: 100vw;
  height: 66vw;
  position: relative;
  display: flex;
}

.predleft {
  width: 57vw;
  height: 63.8vw;
}

.loveand {
  width: 57vw;
  height: 19vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fon {
  background-color: #fff;
  width: 40vw;
  height: 19vw;
  overflow: hidden;
}

.nadp {
  height: 19vw;
  width: 171vw;
}

.paspas {
  width: 57vw;
  height: 44.8vw;
}

.kotik3 {
  height: 63.8vw;
  width: 36vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kot3 {
  width: 80vw;
  height: 68vw;
}
.kot32 {
  width: 52vw;
  position: absolute;
  opacity: 0;
}

.paspas {
  width: 40vw;
  height: 44.8vw;
  position: relative;
  background-image: url("../images/paspas.svg");
  background-size: cover;
  margin-left: 8.5vw;
}

/* конец */

.happy {
  margin-top: -2vw;
  width: 100vw;
  overflow: hidden;
  background-color: #fff;
}

.podv {
  background-image: url("../images/podv.svg");
  background-size: cover;
  height: 14.8vw;
  width: 100vw;
}

.name {
  font-family: BalooBhai;
  color: #ff50c7;
  font-size: 7vw;
  text-align: center;
}
.nename {
  font-family: BalooBhai;
  color: #ff50c7;
  font-size: 2vw;
  text-align: center;
}
