* {
  box-sizing: border-box;
}
body {
  width: 100vw;
}

/* экран1 */

.stroke {
  background-color: #ffc9e4;
  height: 7vw;
  width: 100vw;
  overflow: hidden;
}
.petwed {
  height: 5vw;
  width: 100vw;
  padding-top: 1vw;
}

.first {
  background-color: #001aff;
  padding: 2vw 0 4vw 4vw;
  width: 100vw;
  position: relative;
}

.kot1 {
  height: 46vw;
  width: 64vw;
  background-image: url(../images/pere.svg);
  background-size: 512vw 46vw;
  background-repeat: no-repeat;
}
.first img {
  position: absolute;
}
.pas1 {
  width: 27vw;
  top: 0vw;
  left: 57vw;
}
.pas2 {
  width: 18vw;
  top: 13vw;
  left: 79vw;
}

.pas3 {
  width: 27vw;
  top: 27vw;
  left: 70vw;
}

/* экран2  */

.second {
  width: 100vw;
  display: flex;
}

.flag {
  background-color: #ff50c7;
  height: 16.6vw;
  width: 60.6vw;
  overflow: hidden;
}

.tort {
  background-color: #001aff;
  height: 29.4vw;
  width: 60.6vw;
}

.text {
  height: 46vw;
  width: 39.4vw;
  background-image: url(../images/text1.svg);
  background-size: cover;
}

.flag1 {
  height: 8vw;
  width: 120vw;
}

.flag2 {
  height: 8vw;
  width: 120vw;
}
